<div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5 class="navFooterColHead">Get to Know Us</h5>
          <div class="navFooterLinkList">
            <a href="#" class="nav_a">About Us</a>
            <a href="#" class="nav_a">Careers</a>
            <a href="#" class="nav_a">Press Releases</a>
            <a href="#" class="nav_a">Amazon Science</a>
          </div>
        </div>
        <div class="col-md-3">
          <h5 class="navFooterColHead">Connect with Us</h5>
          <div class="navFooterLinkList">
            <a href="#" class="nav_a">Facebook</a>
            <a href="#" class="nav_a">Twitter</a>
            <a href="#" class="nav_a">Instagram</a>
          </div>
        </div>
        <div class="col-md-3">
          <h5 class="navFooterColHead">Make Money with Us</h5>
          <div class="navFooterLinkList">
            <a href="#" class="nav_a">Sell on Amazon</a>
            <a href="#" class="nav_a">Sell under Amazon Accelerator</a>
            <a href="#" class="nav_a">Protect and Build Your Brand</a>
            <a href="#" class="nav_a">Amazon Global Selling</a>
            <a href="#" class="nav_a">Become an Affiliate</a>
            <a href="#" class="nav_a">Fulfilment by Amazon</a>
            <a href="#" class="nav_a">Advertise Your Products</a>
            <a href="#" class="nav_a">Amazon Pay on Merchants</a>
          </div>
        </div>
        <div class="col-md-3">
          <h5 class="navFooterColHead">Let Us Help You</h5>
          <div class="navFooterLinkList">
            <a href="#" class="nav_a">COVID-19 and Amazon</a>
            <a href="#" class="nav_a">Your Account</a>
            <a href="#" class="nav_a">Returns Centre</a>
            <a href="#" class="nav_a">100% Purchase Protection</a>
            <a href="#" class="nav_a">Amazon App Download</a>
            <a href="#" class="nav_a">Help</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
